@using Dyn365FoCheatSheet.Components.Shared
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JS
@inject IDialogService DialogService
@inject HistoryService History

<MudThemeProvider IsDarkMode="@IsDarkMode" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@*#252729*@

<MudLayout>
    <MudAppBar Style="background-color:#1b1c1e !important;">
        <span style="color:wheat;" class="ml-2">DCB SAAS</span>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Material.Filled.AttachMoney"
                       Style="color:wheat;"
                       OnClick="GoSalaryPage"
                       Edge="Edge.Start"
                       Class="ml-2" />
        <MudIconButton Icon="@Icons.Material.Filled.Brightness6"
                       Style="color:wheat;"
                       OnClick="ToggleTheme"
                       Edge="Edge.End" />

        <MudIconButton Icon="@Icons.Material.Filled.ArrowBack"
                       Style="color:wheat;"
                       OnClick="GoBack" 
                       Edge="Edge.Start"
                       Class="ml-2" />

    </MudAppBar>
    <MudMainContent Class="main-content-spacing">
        <MudContainer Fixed="true">
        @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {


    bool IsDarkMode = true;

    void ToggleTheme()
    {
        IsDarkMode = !IsDarkMode;
    }

    async Task GoBack()
    {
        if (History.PreviousUri == "https://0.0.0.1/")
        {
            var parameters = new DialogParameters
            {
                { "ContentText", "Çıkışı onaylıyor musunuz?" },
                { "ContentTitle", "Çıkış" }
            };
            var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraExtraLarge };
            var dialog = await DialogService.ShowAsync<ConfirmDialog>("Çıkış Onayı", parameters, options);
            var result = await dialog.Result;

            if (result is { Canceled: false, Data: true })
            {
                Navigation.NavigateTo("/");
            }
            return;
        }

        await JS.InvokeVoidAsync("history.back");
    }

    void GoSalaryPage()
    {
        Navigation.NavigateTo("/salary_page");
    }



}
